body {
    font-family: serif;
    background-color: #bad6be;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 225, 225);
}

.nav li {
    flex: 1;
    text-align: center;
    display: inline;
    float: left;
}

.nav a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ffc8c8;
}